.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background: yellowgreen;
  padding: 50px;
}

.header a {
  padding: 10px;
  color: blue;
}

.header a:hover {
  color: aqua;
  background: violet;
  padding: 15px;
  text-decoration: none;
}

.footer {
  padding: 50px;
  background: violet;
}

.footer a {
  padding: 10px;
  color: blue;
}

.footer a:hover {
  color: aqua;
  background: violet;
  padding: 15px;
  text-decoration: none;
}